# llvm
Debug
Release
Output
*.inc
*.def
log
Release+Asserts
config.log
config.status

# cloog
cloog/libcloog*
cloog/cloog
cloog/isl/isl_codegen


# thrash
llvm-2.9_mips/include/llvm/Config/config.h
llvm-2.9_mips/include/llvm/Config/llvm-config.h
llvm-2.9_mips/tools/llvm-config/llvm-config.in
llvm/include/llvm/Config/config.h
llvm/include/llvm/Config/llvm-config.h
llvm-2.9_mips/Makefile.config
llvm/Makefile.config
wtools/binutils/arm-altera-eabi/
swtools/binutils/bin/
swtools/binutils/binutils-2.24/
swtools/binutils/share/
swtools/binutils/arm-altera-eabi/
llvm-2.9_mips/.gitignore
llvm-2.9_mips/include/llvm/Config/config.h
llvm-2.9_mips/include/llvm/Config/llvm-config.h
llvm-2.9_mips/tools/llvm-config/llvm-config.in
llvm/include/llvm/Config/config.h
llvm/include/llvm/Config/llvm-config.h
llvm/tools/lli/ChildTarget/.dir
llvm/tools/lli/ChildTarget/RemoteTarget.o
swtools/*.a
swtools/*.s

# legup
examples/*/*.mif
examples/*/*/*.mif
*.ver
examples/*/*.v
examples/*/*/*.v
*.bc
*.ll
examples/*/*.sdc
examples/*/*/*.sdc
examples/*/*.arm.o
examples/*/*/*.arm.o
examples/*/*.arm.s
examples/*/*/*.arm.s
examples/*/*.arm.src
examples/*/*/*.arm.src
examples/*/*.arm.elf
examples/*/*/*.arm.elf
*.dot
wlft*
*.pyc

# quartus
*.fit.*
*.rpt
*.summary
main.*
db
incremental_db

# modelsim
transcript
work
vsim.wlf

#gvim
.*.swp

# other
a.out
tags
testrun.*
